<% if @product %>
    <h2>Details for <%= @product.title %></h2>
    <p><strong>Product ID:</strong> <%= @product.product_id %></p>
    <p><strong>Title:</strong> <%= @product.title %></p>
    <p><strong>Category:</strong> <%= @product.category.name if @product.category %></p>
    <p><strong>Type:</strong> <%= @product.type %></p>
    <p><strong>Price:</strong> <%= @product.price %></p>
    <p><strong>Sale Price:</strong> <%= @product.sale_price %></p>
    <p><strong>Inventory:</strong> <%= @product.inventory %></p>

    <%= link_to 'Back to Products', products_path %>
<% else %>
  <p>Product not found.</p>
  <%= link_to 'Back to Products', products_path %>
<% end %>

