<% if @product %>
  <h2><%= @product.title %></h2>

  <p>
    <% if @product.image.attached? %>
      <%= image_tag url_for(@product.image), size: "300x425" %>
    <% end %>
  </p>

  <p>Price: <%= number_to_currency(@product.price) %></p>

  <% if @product.sale_price.present? %>
    <p>Sale Price: <%= number_to_currency(@product.sale_price) %></p>
  <% end %>

  <%# <%= form_with url: order_path, method: :post do |f| %>
    <div>
      <%= label_tag :type, 'Choose a type:' %>
      <% @product.types.each do |type| %>
        <div>
          <%= radio_button_tag :type, type.id %>
          <%= label_tag :type, type.name %>
        </div>
      <% end %>
    </div>

    <div>
      <%= label_tag :quantity, 'Quantity:' %>
      <%= number_field_tag :quantity, 1, min: 1 %>
    </div>

    <div>
      <%# <%= f.submit 'Add to Cart' %>
    </div><br><br>
  <%# <% end %>
  
    <%= link_to 'Back to Shop', products_path %>
<% else %>
  <p>Product not found.</p>
  <%= link_to 'Back to Search', products_path %>
<% end %>

