<!DOCTYPE html>
<html>
<head>
  <title>Hoovers' Cards - Shop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <header>
    <nav class = "menu">
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Shop', products_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', '#contact' %></li>
    </nav>
    <h1>Hoovers' Cards</h1>
  </header>

  <%= yield %>
</body>
</html>
